@import "variables";
@import"header";
@import "footer";

body {
    display: flex;
    flex-direction: column;
    font-family: 'comfortaa', sans-serif;
    background-image: url(../img/cavern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: $altobody;
}

main{
    .card{
       width: 16rem;}
       .imgtitle{
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    text-align: start;
    text-decoration: underline;
    margin-top: 20px;
    color:$colortitulos;}
    .titlequien{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color:white;
    font-size: 30px;}
.contenido{font-family:'Amatic SC', cursive;
color: rgb(77, 75, 75);
font-size: 20px;
text-align: center;
text-shadow: rgb(255, 255, 255) 0 -3px;
}
}
.containergrid{
    display: grid;
    grid-template-areas: "numero1 numero2 numero3"
    "numero1 numero4 numero3"
    "numero5 numero4 numero6";
    height: 500px;
    width: 600px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 300px;
    border: solid 5px white;
    .numero1,.numero2, .numero3, .numero4, .numero5, .numero6{
        display: grid;
        align-items: center;
        border: solid 4px red;
        color: white;
    font-size: 40px;}
}
